# Go build artifacts
/bin/
*.test
*.out
/gonemaster-server
/gonemaster

# UI artifacts
/ui/node_modules/
/ui/.vite/
/server/ui/dist/*
!/server/ui/dist/placeholder.txt

# OS/editor files
.DS_Store
.idea/
.vscode/
*.swp
*~
