[Unit]
Description=gonemaster DNS test server
Documentation=man:gonemaster-server(1)
Documentation=https://codeberg.org/pawal/gonemaster
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=gonemaster
Group=gonemaster
WorkingDirectory=/var/lib/gonemaster
EnvironmentFile=-/etc/gonemaster/server.env
ExecStart=/usr/bin/gonemaster-server
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
ProtectProc=invisible
RestrictSUIDSGID=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true
SystemCallArchitectures=native
ReadWritePaths=/var/lib/gonemaster

[Install]
WantedBy=multi-user.target
