{{- $page := .page }}
{{- if and (not $page) .context }}
  {{- $page = .context }}
{{- end }}
{{- $showhidden := .showhidden | default false }}
{{- if eq (printf "%T" $showhidden) "string" }}
  {{- $showhidden = (eq $showhidden "true") }}
{{- end }}
{{- $style := .style | default "li" }}
{{- $depth := .depth | default 1 }}
{{- $withDescription := .description | default false }}
{{- if eq (printf "%T" $withDescription) "string" }}
  {{- $withDescription = (eq $withDescription "true") }}
{{- end }}
{{- $sortTerm := .sort | lower }}
{{- $containerstyle := .containerstyle | default "ul" }}
{{- if and (not (eq $style "li")) (eq $containerstyle "ul") }}
  {{- $containerstyle = "div" }}
{{- end }}

{{- with $page -}}
{{ (printf "<%s class=\"children children-%s children-sort-%s\">" $containerstyle $style $sortTerm) | safeHTML }}
  {{- $pages := partial "pageHelper/pagesBy.html" (dict "page" . "by" $sortTerm) }}
  {{- partial "shortcodes/children-items.html" (dict "menu" $pages "containerstyle" $containerstyle "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "description" $withDescription "sortTerm" $sortTerm) }}
{{ (printf "</%s>" $containerstyle) | safeHTML }}
{{- end }}
